{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Home{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-8">
            <div class="row">
                <div class="col-12">
                    <h3>Upcoming</h3>
                    <ul>
                        {% for report in reports %}
                            <li>
                                <a href="{{ url_for('report.edit', pk=report.id) }}">{{ report.name }}
                                    at {{ report.start_t }}</a>
                            </li>
                        {% else %}
                            <p>No reports</p>
                        {% endfor %}
                    </ul>
                </div>

                <div class="col-12">
                    <h3>From your organization</h3>
                    <ul>
                        {% for report in reports_org %}
                            <li>
                                <a href="{{ url_for('report.edit', pk=report.id) }}">{{ report.name }}
                                    at {{ report.start_t }}</a>
                            </li>
                        {% else %}
                            <p>No reports</p>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-4">
            <ul>
                {% for page in pages %}
                    <li>
                        <a href="{{ page.url }}">{{ page.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
