{% extends 'base.html' %}

{% from "formhelpers.html" import render_field %}
{% from "formhelpers.html" import render_field_readonly %}


{% block header %}
<h1>{% block title %}Edit User{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <form method="POST">
            {{ form.hidden_tag() }}
            {{ render_field_readonly(form.username) }}
            {{ render_field(form.password) }}
            {{ render_field(form.org) }}
            {{ render_field(form.perms) }}
            <input type="submit" class="btn btn-primary" value="Create">
        </form>
    </div>
</div>
{% endblock %}
