{% extends 'base.html' %}

{% from "formhelpers.html" import render_field %}


{% block header %}
<h1>{% block title %}Create Patient{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <form method="POST">
            {{ form.hidden_tag() }}
            {{ render_field(form.name) }}
            {{ render_field(form.phone) }}
            {{ render_field(form.gender) }}
            <input type="submit" class="btn btn-primary" value="Create">
        </form>
    </div>
</div>
{% endblock %}